@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1400px;
  margin: auto;
}
a {
  text-decoration: none;
}
p {
  line-height: 28px;
}
.section-title {
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #c8cacc;
  background-color: white;
  z-index: 300;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.header.fixed {
  position: fixed;
}
.header .row {
  align-items: center;
}
.header span {
  cursor: pointer;
  display: none;
}
.header .nav-toggle i {
  font-size: 30px;
  padding: 17px 20px;
}
.topnav ul {
  margin: 0;
  padding: 0;
}
.topnav ul li {
  display: inline-block;
}
.topnav ul li a {
  color: #2a2a2a;
  font-size: 18px;
  padding: 17px 20px;
  display: block;
  font-weight: 500;
  transition: 0.5s ease all;
}
.topnav ul li a:hover {
  color: hsl(234, 96%, 69%);
}
/* header ends */

/* home section starts */
.home .row {
  min-height: 100vh;
  align-items: center;
  padding: 70px 20px 40px;
}
.home .row .home-text,
.home .row .home-img {
  width: 50%;
}
.home-text h1 {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 3px;
}
.home-text p {
  max-width: 500px;
}
.home-img img {
  width: 100%;
  display: block;
}
.home .links-container {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
}
.links-container a {
  background-color: hsl(234, 96%, 69%);
  color: white;
  text-transform: capitalize;
  padding: 8px 15px;
  margin-right: 8px;
  margin-bottom: 20px;
  transition: 0.3s ease all;
}
.links-container a:hover {
  background-color: hsl(234, 90%, 40%);
}
/* home section ends */

/* about section starts */
.about {
  padding: 0 20px 40px;
}
.about p {
  margin-bottom: 30px;
  letter-spacing: 1px;
}
/* about section ends */

/* faqs section starts */
section.faqs {
  padding: 0 20px 40px;
}
.faqs article {
  margin: 50px 50px auto;
  padding: 50px 40px;
  background: linear-gradient(to left, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.faqs article > div {
  background-color: white;
  width: 90%;
  max-width: 800px;
  margin: auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0;
}
.box-desktop,
.woman-desktop,
.bg-desktop {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.box-desktop {
  left: 0px;
  width: 100px;
  z-index: 3;
}

.woman-desktop,
.bg-desktop {
  left: 80px;
  width: 300px;
  z-index: 2;
}
.questions {
  padding: 20px;
  width: 100%;
  max-width: 500px;
}
.question-card {
  margin-bottom: 30px;
}
.question-card p {
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.question-btn {
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 13px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  outline: none;
  margin-bottom: 10px;
}
.question-card .question-btn::before {
  content: url(./icon-arrow-down.svg);
  font-size: 13px;
  color: inherit;
  position: absolute;
  width: 20px;
  right: 20px;
}
/* faqs section end */
/* responsiveness */
@media (max-width: 1040px) {
  .woman-desktop,
  .bg-desktop {
    width: 200px;
    left: 40px;
  }
}
@media (max-width: 767px) {
  .header .row {
    justify-content: flex-end;
  }
  .header .nav-toggle span {
    display: flex;
  }
  .header .nav-toggle i {
    padding: 7px 12px;
  }
  .topnav {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease all;
  }
  .topnav.open {
    height: 260px;
  }
  .topnav ul li {
    display: block;
  }
  .topnav ul li a {
    padding: 12px;
  }
  .home .row .home-text,
  .home .row .home-img {
    width: 100%;
  }
  .home .row .home-img img {
    width: 80%;
    margin-left: 0;
  }
  .home .row .home-text h1 {
    font-size: 45px;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .box-desktop,
  .woman-desktop,
  .bg-desktop {
    top: 0px;
    left: 50%;
  }

  .faqs article {
    padding: 150px 0px 60px;
    margin: 50px 0 auto;
  }
  .faqs article > div {
    padding-top: 100px;
    background-position: 50% -50%;
  }
  .questions {
    padding: 10px;
  }
}
